# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Environment variables / secrets
.env
.env.*

# TensorFlow / Keras
*.h5
*.keras

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Streamlit
.streamlit/secrets.toml

# Python packaging
*.egg-info/
dist/
build/